:root{
    --principal: #7FC8A9;
    --secundario: #D5EEBB;
    --terciario: #5F7A61;
    --auxiliar: #444941;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    padding: 20px 30px;
    background-color: var(--principal);
}

.contenedor{
    padding:20px 30px;
    background-color: var(--secundario);
}

footer{
    padding:20px 30px;
    background-color: var(--terciario);
}

select{
    border-radius:5px;
    margin-bottom: 10px;
}

table{
    background-color: #98b4AA;
}

h1{    
    color:white;
}

input[type=text]{
    border-radius: 5px;    
}