/*
colores 
    principal   495371
    secundario  74959A
    terciario   98B4AA
    auxiliar    F1E0AC
*/

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    padding: 20px 30px;
    background-color: #495371;
}

.contenedor{
    padding:20px 30px;
    background-color: #74959A;
}

footer{
    padding:20px 30px;
    background-color: #98b4AA;
}

select{
    border-radius:5px;
    margin-bottom: 10px;
}

table{
    background-color: #98b4AA;
}

h1{    
    color:white;
}

input[type=text]{
    border-radius: 5px;
}